

@{ 
    ViewBag.Title = "Crear un usuario";
}


    <div>
        <form action="/" method="post">


            <input type="text" name="name" value="" placeholder="Nombre" />

        </form>
    </div>