@model int



    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1>El usuario con el  id @Model no existe!</h1>
        <div>
            <a asp-action="Index" asp-controller="Home">Ir a la pagina de inicio</a>
        </div>
    </body>
    </html> 